body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;

}

.group{
}

.race{
    margin-left: 1em;    
}

table.main{
    width: 100%;
    border: 0;
    margin: 0;

}

table.main     tr:nth-child(even) {
    background-color: #f2f2f2;
}


h1, h2, h3, h4, h5, .name, .progress, .county {
    text-align: left;
    vertical-align: top;
}

.votes, .pct, .morevotes, .morepct {
    vertical-align: top;
}


h1, h2, h3, h4, h5 {
    margin-bottom: 0em;
}


th.name, th.votes, th.pct, td.name, td.votes, td.pct {
    width: 20%
}

th.progress, td.progress {
    width: 40%
}


.votes, .pct, .morevotes, .morepct {
    text-align: right;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8em;
}

progress {
    width: 95%;
}

td.progress {
    min-width: 33%;
}

.tdnote {
    font-style: italic;
}

.moreinfotag {
    font-style: normal;
    font-weight: 700;
    color: DarkGreen;
}

div.moreinfo {
    display: none;
}

.tablemoreinfo {
    background-color: #F8F9F9;
    border-color: #e2e2e2;
    border-width: 9px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    /* width: 90%; */
}

.tablemoreinfo tr:nth-child(odd) {
    background-color: #e2e2e2;
}


button {
    background-color: #FFFFFF
    border: none;
    padding: 0;
    display: inline-block;
}

